<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GC200338513.twitterclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwitterClone">
        <activity
            android:name="com.GC200338513.twitterclone.PostActivity"
            android:exported="false" />
        <activity
            android:name="com.GC200338513.twitterclone.CommentActivity"
            android:exported="false" />
        <activity
            android:name="com.GC200338513.twitterclone.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.GC200338513.twitterclone.GridRecyclerActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200338513.twitterclone.RecyclerListActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200338513.twitterclone.PostListActivity"
            android:exported="true" />
    </application>

</manifest>